html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
}

.loadup {
    width: 100vw;
    height: 90vh;
    background: linear-gradient(
        to right,
        #EF7564 0%,
        #EF7564 50%,
        #FFFFFF 50%,
        #FFFFFF 100%
    );
    display: flex;
    align-items: center;
}

.dLeft {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 6vw;
    width: 50vw;
    text-align: right;
}

.cRight {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 6vw;
    width: 50vw;
    text-align: left;
}

.compWrapper {
    width: 100vw;
    height: 90vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.comp {
    width: 30vh;
    height: 24.5vh;
}

.menuBar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 10vh;
    width: 100vw;
    background-color: black;
    justify-content: left;
    align-items: center;
    z-index: 1;
}

/*applied to menuBar with JS for sticky header*/
.sticky {
    position: fixed;
    top: 0;
}

.buttonWrapper {
    vertical-align: middle;
}

.menuButton {
    color: white;
    background-color: black;
    border: none;
    font-size: 3vw;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    height: 10vh;
    cursor: pointer;
}

/* gets rid of ugly blue outline on chrome when button clicked*/
.menuButton:focus {
    outline: none;
}

.menuButton:hover {
    background-color: white;
    color: black;
}

.name {
    position: absolute;
    right: 1vh;
    font-size: 5vw;
    font-family: 'Oswald', sans-serif;
    color: white;
}

.infoPage{
    height: 100vh;
    width: 100vw;
}

#about {
    background-color: white;
}

#academics {
    background-color: #EF7564;
}

#experience {
    background-color: white;
}

#contact {
    background-color: #EF7564;
}

.aboutTitle {
    padding-top: 12vh;
    padding-left: 6vw;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 5vw;
}

.academicsTitle {
    padding-top: 12vh;
    padding-left: 6vw;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 5vw;
}

.experienceTitle {
    padding-top: 12vh;
    padding-left: 6vw;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 5vw;
}

.contactTitle {
    padding-top: 12vh;
    padding-left: 6vw;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 5vw;
}

.qsWrapper {
    display: flex;
    justify-content: center;
}

.qs {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: larger;
}

.inputs {
    display: block;
    text-align: center;
    margin-bottom: 0px;
}

.inputs textarea{
    background-color: #CF513D;
    border: none;
    width: 70vw;
    height: 4vh;
    margin-bottom: 1vh;
    color: white;
    resize: none;
    font-size: 3vh;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
}

::placeholder {
    color: white;
    opacity: 70%;
}

.inputs textarea:focus {
    outline: none;
}

#messageBox {
    height: 35vh;
}

.buttons {
    width: 85vw;
    display: block;
    text-align: right;
}

.buttons input{
    cursor: pointer;
    background-color: transparent;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    color: white;
    font-size: 3vh;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

.buttons input:focus {
    outline: none;
}

.buttons input:hover {
    background-color: white;
    color: #EF7564;
}

.arrow{
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
  visibility: hidden;
}
.arrow a{
  height: 39px;
  width: 37px;
  text-align: center;
  background: #1b1b1b;
  display: block;
  border-radius: 3px;
}
.arrow a span{
  color: #f2f2f2;
  font-size: 25px;
  line-height: 39px;
  cursor: pointer;
}
